/*---------- Page Layout Elements ----------*/

#small-page-break {
    height: 50px;
    background-color: rgb(196, 196, 196)
}

#small-page-break-dark {
    height: 50px;
    background-color: rgb(34, 34, 34)
}

#page-header {
    height: 150px;
    background-color: rgb(34, 34, 34)
}

#page-header-rates {
    height: 200px;
    background-color: rgb(34, 34, 34)
}

.dark-background {
    background-color: rgb(34, 34, 34)
}

.dark-brown {
    background-color: #472C2C;
}

.white {
    color: white;
}

/*---------- Select-Form Styling ----------*/

#rates-table {
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

/*---------- Site Header Styling ----------*/

#social-icons-banner li a{
    color: black;
}

#social-icons-banner li {
    display: inline-block;
    font-size: 40px;
    margin: 0;
}

#social-icons-banner {
    width: 100%;
    align-self: right;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 0;
}

.logo {
    height: 150px;
    width: 170px;
    margin: 10px;
}


@media (max-width: 769px) {
    #social-icons-banner{
        text-align: center;
        padding: 0px;
        margin-top: 0;
    }
    #social-icons-banner li {
    display: inline-block;
    font-size: 20px;
    margin: 0;
    }
}

@media (max-width: 575px) {
    #social-icons-banner {
        display: none;
    }
}

/*---------- Top Navbar Styling ----------*/

#top-nav {
    height: 40px;
    background-color: rgb(34, 34, 34);
}

#top-nav > .container > span {
    color: white;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.top-nav-links > p {
    color: white;
    padding: 5px;
    margin-top: 10px;
    font-size: 0.7rem;
}

/*---------- Mailing List Modal Styling ----------*/

#mail-modal-text input, #mail-modal-text label {
    color: white;
}

.myModalLabel, .myModalLabel button {
    color: white;
}

.close {
    color: white; 
    opacity: 1;
}

/*---------- Service Helper Modal Styling -----------*/



/*---------- Navbar Styling ----------*/

.navbar {
    font-size: 1.5rem;
    font-weight: 400;
}

.nav-link span {
    margin-left: 10px;
}

a.nav-link {
    color: black;
}

div#navbarItems {
    padding: 0;
    justify-content: flex-end;
}

.navbar-toggler-icon i {
    font-size: 1.8rem;
}

.navbar span {
    padding: 8px;
    margin-bottom: 20px;
}

#toggle-button {
    padding-right: 24px;
}

@media (max-width: 769px) {
    div#navbarItems {
        padding: 0;
        justify-content: center;
    }
}

@media (max-width: 575px) {
    .nav-item-break {
        padding: 8px;
        display: none;
    }
    .navbar-toggler-icon i {
    font-size: 2rem;
    vertical-align: center;
}
}

/*---------- Page Header Styling ----------*/

#page-header > h2 {
    color: rgb(235, 235, 235);
    font-weight: 400;
    font-size: 1.8rem;
    margin: 0 auto;
    text-align: center;
}

#page-header-rates > h2 {
    color: rgb(235, 235, 235);
    font-weight: 400;
    font-size: 1.8rem;
    margin: 0 auto;
    text-align: center;
}

#page-header-rates > #rates-heading {
    margin-top: 50px;
    color: rgb(235, 235, 235);
    display: inline-block;
    width: 100%;
}


/*---------- Carousel Styling ----------*/

.carousel-control-left {
    left: 0;
    z-index: 3;
}

.carousel-control-right {
    left: 0;
    z-index: 3;
}

.carousel-inner > .item > img {
    width: 100%;
}

.inner-item {
    text-align: center;
}

.carousel-control-next, .carousel-control-prev {
    font-size: 3rem;
}

.stroke-text {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.carousel-caption div p {
    font-size: 3rem;
    font-weight: 600;
    line-height: 0.6;
}

/* 

CREDIT TO Vivien G - Overlay Text to Carousel

Stack Overflow - 
https://stackoverflow.com/questions/29734492/adding-text-over-an-image-in-bootstrap-carousel  

/* ------------------------ */

.carousel-caption {
    position: absolute;
    z-index: 1;
    display:table;
    width:100%;
    height:100%;
}

.carousel-caption div {
    display:table-cell;
    vertical-align: middle;
    text-align:center;
}

.trickcenter {
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------------ */

@media (max-width: 769px) {
    .carousel-control-next, .carousel-control-prev {
    font-size: 2rem;
    }
    .carousel-caption div p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    }
}

/*---------- Services Styling ----------*/

.center-text {
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}

#business-info > h2 {
    margin-top: 10px;
    font-weight: 400;
}

/*---------- Services Styling ----------*/


#service-links {
    background-color: rgb(34, 34, 34);
}

.image-caption {
    border: 1px solid black;
    background-color: rgba(119, 119, 119, 0.6);
    border-radius: 20px;
    z-index: 3;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.service-images{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px;
    border-radius: 10%;
}

.image-caption > p {
    color: white;
    font-weight: 400;
}

@media (max-width: 768px) {
    .service-images{
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 5px;
        height: 350px;
        width: 480px;
        border-radius: 10%;
    }
    .image-caption > p {
        color: white;
        font-weight: 400;
        font-size: 2rem;
        margin-top: 12px;
    }

    .image-caption {
        border: 1px solid black;
        background-color: rgba(119, 119, 119, 0.6);
        height: 80px;
        width: 300px;
        border-radius: 20px;
        z-index: 3;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 175px;
        text-align: center;
    }

}

@media (min-width: 767px) {
    .service-images{
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 5px;
        height: 175px;
        width: 240px;
        border-radius: 10%;
    }
    .image-caption {
        border: 1px solid black;
        background-color: rgba(119, 119, 119, 0.6);
        height: 45px;
        width: 200px;
        border-radius: 20px;
        z-index: 3;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 100px;
        text-align: center;
    }

    .image-caption > p {
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        margin-top: 8px;
    }
}

@media (min-width: 990px) {
    .service-images{
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 5px;
        height: 220px;
        width: 300px;
        border-radius: 10%;
    }

    .image-caption {
    border: 1px solid black;
    background-color: rgba(119, 119, 119, 0.6);
    height: 60px;
    width: 250px;
    border-radius: 20px;
    z-index: 3;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 110px;
    text-align: center;
    }

    .image-caption > p {
    font-size: 1.5rem;
    margin-top: 12px;
    }
}

@media (min-width: 1201px) {
    .service-images{
        margin-top: 40px;
        margin-bottom: 40px;
        padding: 5px;
        height: 263px;
        width: 360px;
        border-radius: 10%;
    }
    .image-caption {
        border: 1px solid black;
        background-color: rgba(119, 119, 119, 0.6);
        height: 60px;
        width: 250px;
        border-radius: 20px;
        z-index: 3;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        bottom: 132px;
        text-align: center;
    }

    .image-caption > p {
        font-size: 1.5rem;
        margin-top: 12px;
    }
}


/*---------- Price / Basket Styling ----------*/



#price-box {
    height: 100px;
    width: 170px;
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    padding: 15px;
    border: 1px solid black;
    background-color: rgb(196, 196, 196);
    margin: 0 auto;
    margin-top: 20px;
}

#service-prices {
    margin-top: 30px;
    margin-bottom: 30px;
}

/*---------- Contact Us Page Styling ----------*/

#contact-header {
    margin-top: 40px;
}

/*---------- Mixer Page Styling ----------*/

#mixing-info {
    background-color: rgb(34, 34, 34);
    color: white;
}

.mixing-text > h2 {
    margin-top: 60px;
}

.audio-example > h3 {
    margin-top: 60px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.audio-example {
    margin-bottom: 60px;
    padding: 10px;
}

#mixer-image-mixer-page {
    border-radius: 20px;
    margin: 60px;
}

.embedded-audio-element {
    padding: 10px;
    height: 40px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 10px;
    color: white;
    margin: 0 auto;
    box-shadow: 5px 10px #888888;
    margin-right: 20px;
}

@media (max-width: 767px) {
    .mixing-text > h2 {
        margin-top: 0;
    }
    .mixing-text > p {
        margin-bottom: 30px; 
    }
}

/*---------- Rates Page Styling ----------*/

#rates-container {
    background-color: rgb(196, 196, 196);
}

#service-promise {
    background-color: rgb(34, 34, 34);
    color: white;
    display: inline-block;
}

#service-promise-header {
    margin: 30px;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}

#service-promise p {
    margin-bottom: 30px;
    text-align: center;
    color: white;
    width: 80%;
}

#mastering-table, #stem-mastering-table, #mixing-table, #timed-mastering-table {
    display: none;
}


/*---------- Table Styling ----------*/

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}

th {
    background-color: rgb(34, 34, 34);
    color: white;
}

table {
    margin: 30px;
}

table, caption {
    color: black;
}

/*---------- Service Finder Styling ----------*/

#service-finder-container {
    background-color: #472C2C;
    padding: 80px;
}

.icon-element {
    height: 200px;
    width: 50%;
    margin : 10px;
}

#refresh-btn {
    background-color: rgb(36,36,36);
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 1rem;
    width: 200px;
    margin: 0 auto;
    margin-top: 0px;
    margin-bottom: 30px;
    line-height: 0;
}

.icon-element button {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: rgb(36,36,36);
    border: 1px white solid !important;
    color: white;
    font-size: 16px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.text-box-style {
    background-color: rgb(36,36,36);
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

#question {
    background-color: rgb(36,36,36);
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
    font-size: 1.5rem;
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}

.icon {
    height: 100%;
    width: 100%;
    border-radius: 30%;
    object-fit: contain;
    padding: 25px;
    padding-bottom: 70px;
}

@media (max-width: 992px) {
    .icon-element {
    height: 200px;
    width: 30%;
    }
    .icon-element button {
    font-size: 14px;
    }

    #service-finder-container .container {
    display: flex;
    flex-direction: column;
    }

    .row__A {
    order: 2;
    }

    .row__B {
    order: 2;
    }
}

@media (max-width: 767px) {
    .icon-element {
    height: 200px;
    width: 40%;
    }
}

@media (max-width: 576px) {

.icon-element button {
    font-size: 18px;
    }
}

@media (max-width: 450px) {

.icon-element {
    height: 200px;
    width: 70%;
    }
}

@media (max-width: 375px) {

.icon-element {
    height: 200px;
    width: 90%;
    }
}

/*---------- Service finder - animation specific styling ----------*/

.hide-on-append {
    display: none;
}

/*---------- Service Finder - Modal Styling ----------*/

#modal-body {
    background-color: #472C2C;
}

#modal-body i {
    color: white;
}

#modal-heading {
    background-color: rgb(34, 34, 34);
}

#modal-heading-text {
    color: white;
}

#modal-footer {
    background-color: rgb(34, 34, 34);
}

.modal-footer-text {
    border: 1px solid white;
}

#yes-btn {
    background-color: rgb(34, 34, 34);
    color: white;
}

/*---------- Footer Styling ----------*/


footer {
    background-color: rgb(196, 196, 196);
    height: 100%;
    line-height: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

.footer-text {
    text-align: right;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 20px;
}

#newsletter-signup {
    font-size: 0.8rem;
    margin: 20px;
    font-weight: 400;
}

#newsletter-signup button, input {
    height: 35px;
    width: 240px;
    padding: 10px;
    margin: 3px;
}

#newsletter-signup button {
    background-color: rgb(34, 34, 34);
    color: white;
    font-size: 1rem;
}

#newsletter-signup input {
    text-align: center;
    font-size: 1rem;
}

#social-icons-footer {
    width: 100%;
    align-self: right;
    text-align: right;
    margin-top: 30px; 
}

#social-icons-footer li {
    display: inline-block;
    font-size: 40px;
    margin: 0;
}

#social-icons-footer li a{
    color: black;
}


