/*---------- Page Layout Elements ----------*/

#small-page-break {
    height: 50px;
    background-color: rgb(196, 196, 196)
}

/*---------- Header Styling ----------*/

#social-icons-banner li a{
    color: black;
}

#social-icons-banner li {
    display: inline-block;
    font-size: 40px;
    margin: 0;
}

#social-icons-banner {
    width: 100%;
    align-self: right;
    text-align: right;
    margin-top: 30px;
    margin-bottom: 0;
}

.logo {
    height: 150px;
    width: 170px;
    margin: 10px;
}


@media (max-width: 769px) {
    #social-icons-banner{
        text-align: center;
        padding: 0px;
    }
}

/*---------- Navbar Styling ----------*/

.navbar {
    font-size: 1.5rem;
    font-weight: 400;
}

.nav-link span {
    margin-left: 10px;
}

a.nav-link {
    color: black;
}

div#navbarItems {
    padding: 0;
    justify-content: flex-end;
}

.navbar-toggler-icon i {
    font-size: 1.8rem;
}

.navbar span {
    padding: 8px;
    margin-bottom: 20px;
}

@media (max-width: 769px) {
    div#navbarItems {
        padding: 0;
        justify-content: center;
    }
}
@media (max-width: 575px) {
    .nav-item-break {
        padding: 8px;
        display: none;
    }
}

/*---------- Carousel Styling ----------*/

.carousel-control-left {
    left: 0;
    z-index: 3;
}

.carousel-control-right {
    left: 0;
    z-index: 3;
}

.carousel-inner > .item > img {
    width: 100%;
}

.inner-item {
    text-align: center;
}

.carousel-control-next, .carousel-control-prev {
    font-size: 3rem;
}

.stroke-text {
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.carousel-caption div p {
    font-size: 3rem;
    font-weight: 600;
    line-height: 0.8;
}

/* 

CREDIT TO Vivien G - Overlay Text to Carousel

Stack Overflow - 
https://stackoverflow.com/questions/29734492/adding-text-over-an-image-in-bootstrap-carousel  

/* ------------------------ */

.carousel-caption {
    position: absolute;
    z-index: 1;
    display:table;
    width:100%;
    height:100%;
}

.carousel-caption div {
    display:table-cell;
    vertical-align: middle;
    text-align:center;
}

.trickcenter {
    position: fixed;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ------------------------ */

@media (max-width: 769px) {
    .carousel-control-next, .carousel-control-prev {
    font-size: 2rem;
    }
    .carousel-caption div p {
    font-size: 2rem;
    font-weight: 400;
    line-height: 1;
    }
}


/*---------- Footer Styling ----------*/


footer {
    background-color: rgb(196, 196, 196);
    height: 100%;
    line-height: 10px;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    
}

.footer-text {
    text-align: right;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 20px;
}

#newsletter-signup {
    font-size: 0.8rem;
    margin: 20px;
    font-weight: 400;
}

#newsletter-signup button, input {
    height: 35px;
    width: 240px;
    padding: 10px;
    margin: 3px;
}

#newsletter-signup button {
    background-color: rgb(34, 34, 34);
    color: white;
    font-size: 1rem;
}

#newsletter-signup input {
    text-align: center;
    font-size: 1rem;
}

#social-icons-footer {
    width: 100%;
    align-self: right;
    text-align: right;
    margin-top: 30px; 
}

#social-icons-footer li {
    display: inline-block;
    font-size: 40px;
    margin: 0;
}

#social-icons-footer li a{
    color: black;
}


